In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
districts_df = pd.read_csv('congressional_districts.csv')

In [3]:
districts_df.head()

,Unnamed: 0,CD,Biden,Trump,Total,Percentage_for_Biden,Voting_Age_Population,Voting_Rate
0,0,AK-AL,153778.0,189951.0,357569.0,43.006525,532244.0,67.181406
1,1,AL-1,115683.0,208367.0,327409.0,35.332871,544464.0,60.134187
2,2,AL-2,70484.0,174437.0,247311.0,28.500148,516295.0,47.901103
3,3,AL-3,98663.0,191488.0,293111.0,33.660627,543854.0,53.895163
4,4,AL-4,49904.0,234143.0,286768.0,17.402221,515701.0,55.607416

In [4]:
districts_df.drop(['Unnamed: 0'], axis =1, inplace=True)

In [5]:
districts_df.head()

,CD,Biden,Trump,Total,Percentage_for_Biden,Voting_Age_Population,Voting_Rate
0,AK-AL,153778.0,189951.0,357569.0,43.006525,532244.0,67.181406
1,AL-1,115683.0,208367.0,327409.0,35.332871,544464.0,60.134187
2,AL-2,70484.0,174437.0,247311.0,28.500148,516295.0,47.901103
3,AL-3,98663.0,191488.0,293111.0,33.660627,543854.0,53.895163
4,AL-4,49904.0,234143.0,286768.0,17.402221,515701.0,55.607416

In [6]:
districts_df['CD'] = districts_df['CD'].apply(lambda x: x.upper())

In [7]:
districts_df.head()

,CD,Biden,Trump,Total,Percentage_for_Biden,Voting_Age_Population,Voting_Rate
0,AK-AL,153778.0,189951.0,357569.0,43.006525,532244.0,67.181406
1,AL-1,115683.0,208367.0,327409.0,35.332871,544464.0,60.134187
2,AL-2,70484.0,174437.0,247311.0,28.500148,516295.0,47.901103
3,AL-3,98663.0,191488.0,293111.0,33.660627,543854.0,53.895163
4,AL-4,49904.0,234143.0,286768.0,17.402221,515701.0,55.607416

In [8]:
districts_df['CD'] = districts_df['CD'].apply(lambda x: x.replace('_', '-'))

In [9]:
districts_df.head()

,CD,Biden,Trump,Total,Percentage_for_Biden,Voting_Age_Population,Voting_Rate
0,AK-AL,153778.0,189951.0,357569.0,43.006525,532244.0,67.181406
1,AL-1,115683.0,208367.0,327409.0,35.332871,544464.0,60.134187
2,AL-2,70484.0,174437.0,247311.0,28.500148,516295.0,47.901103
3,AL-3,98663.0,191488.0,293111.0,33.660627,543854.0,53.895163
4,AL-4,49904.0,234143.0,286768.0,17.402221,515701.0,55.607416

In [10]:
districts_df['CD'][0] = 'AK-AL'

In [11]:
districts_df['CD'][86] = 'DE-AL'

In [12]:
districts_df['CD'][232] = 'MT-AL'

In [13]:
districts_df['CD'][246] = 'ND-AL'

In [14]:
districts_df['CD'][351] = 'SD-AL'

In [15]:
districts_df['CD'][412] = 'VT-AL'

In [16]:
districts_df['CD'][434] = 'WY-AL'

In [17]:
districts_df.to_csv('congressional_districts.csv')

In [18]:
districts_df.head()

,CD,Biden,Trump,Total,Percentage_for_Biden,Voting_Age_Population,Voting_Rate
0,AK-AL,153778.0,189951.0,357569.0,43.006525,532244.0,67.181406
1,AL-1,115683.0,208367.0,327409.0,35.332871,544464.0,60.134187
2,AL-2,70484.0,174437.0,247311.0,28.500148,516295.0,47.901103
3,AL-3,98663.0,191488.0,293111.0,33.660627,543854.0,53.895163
4,AL-4,49904.0,234143.0,286768.0,17.402221,515701.0,55.607416

In [19]:
density_df = pd.read_csv('citylab_cdi.csv')

In [20]:
density_df.head()

,CD,Cluster,Very low density,Low density,Medium density,High density
0,AK-AL,Pure rural,0.482993,0.198331,0.229245,0.089431
1,AL-01,Rural-suburban mix,0.365359,0.428878,0.197413,0.008350
2,AL-02,Pure rural,0.535487,0.316148,0.148366,0.000000
3,AL-03,Pure rural,0.540407,0.389348,0.065552,0.004693
4,AL-04,Pure rural,0.695332,0.288942,0.015726,0.000000

In [21]:
districts_df[['Very low density', 'Low density', 'Medium density', 'High density']] = density_df[['Very low density', 'Low density', 'Medium density', 'High density']]

In [22]:
districts_df.head()

,CD,Biden,Trump,Total,Percentage_for_Biden,Voting_Age_Population,Voting_Rate,Very low density,Low density,Medium density,High density
0,AK-AL,153778.0,189951.0,357569.0,43.006525,532244.0,67.181406,0.482993,0.198331,0.229245,0.089431
1,AL-1,115683.0,208367.0,327409.0,35.332871,544464.0,60.134187,0.365359,0.428878,0.197413,0.008350
2,AL-2,70484.0,174437.0,247311.0,28.500148,516295.0,47.901103,0.535487,0.316148,0.148366,0.000000
3,AL-3,98663.0,191488.0,293111.0,33.660627,543854.0,53.895163,0.540407,0.389348,0.065552,0.004693
4,AL-4,49904.0,234143.0,286768.0,17.402221,515701.0,55.607416,0.695332,0.288942,0.015726,0.000000

In [23]:
districts_df['Election_Result'] = np.where(districts_df['Percentage_for_Biden']>=50.0, 'Biden', 'Trump')

In [24]:
districts_df.head()

,CD,Biden,Trump,Total,Percentage_for_Biden,Voting_Age_Population,Voting_Rate,Very low density,Low density,Medium density,High density,Election_Result
0,AK-AL,153778.0,189951.0,357569.0,43.006525,532244.0,67.181406,0.482993,0.198331,0.229245,0.089431,Trump
1,AL-1,115683.0,208367.0,327409.0,35.332871,544464.0,60.134187,0.365359,0.428878,0.197413,0.008350,Trump
2,AL-2,70484.0,174437.0,247311.0,28.500148,516295.0,47.901103,0.535487,0.316148,0.148366,0.000000,Trump
3,AL-3,98663.0,191488.0,293111.0,33.660627,543854.0,53.895163,0.540407,0.389348,0.065552,0.004693,Trump
4,AL-4,49904.0,234143.0,286768.0,17.402221,515701.0,55.607416,0.695332,0.288942,0.015726,0.000000,Trump

# Decision Tree Classifier

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X = districts_df.drop(['Election_Result', 'CD', 'Percentage_for_Biden', 'Voting_Rate', 'Biden', 'Trump', 'Total'], axis=1)
y = districts_df['Election_Result']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [28]:
tree = DecisionTreeClassifier()

In [29]:
tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [30]:
predictions = tree.predict(X_test)

In [31]:
from sklearn.metrics import confusion_matrix, classification_report

In [32]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

       Biden       0.74      0.87      0.80        70
       Trump       0.85      0.72      0.78        74

    accuracy                           0.79       144
   macro avg       0.80      0.79      0.79       144
weighted avg       0.80      0.79      0.79       144

In [33]:
print(confusion_matrix(y_test, predictions))

[[61  9]
 [21 53]]

In [34]:
predictions

array(['Biden', 'Trump', 'Biden', 'Trump', 'Trump', 'Biden', 'Trump',
       'Biden', 'Biden', 'Trump', 'Biden', 'Biden', 'Biden', 'Biden',
       'Biden', 'Trump', 'Trump', 'Trump', 'Biden', 'Trump', 'Trump',
       'Biden', 'Biden', 'Biden', 'Trump', 'Trump', 'Biden', 'Trump',
       'Biden', 'Biden', 'Trump', 'Biden', 'Biden', 'Biden', 'Trump',
       'Biden', 'Biden', 'Trump', 'Biden', 'Biden', 'Trump', 'Trump',
       'Biden', 'Biden', 'Trump', 'Biden', 'Trump', 'Trump', 'Trump',
       'Trump', 'Trump', 'Trump', 'Trump', 'Biden', 'Trump', 'Biden',
       'Biden', 'Biden', 'Biden', 'Trump', 'Biden', 'Trump', 'Biden',
       'Biden', 'Trump', 'Biden', 'Biden', 'Trump', 'Trump', 'Biden',
       'Biden', 'Biden', 'Biden', 'Trump', 'Trump', 'Trump', 'Biden',
       'Biden', 'Biden', 'Trump', 'Biden', 'Biden', 'Trump', 'Biden',
       'Biden', 'Trump', 'Biden', 'Biden', 'Biden', 'Trump', 'Biden',
       'Biden', 'Biden', 'Trump', 'Trump', 'Trump', 'Biden', 'Trump',
       'Biden', 'Trump', 'Trump', 'Biden', 'Biden', 'Trump', 'Biden',
       'Biden', 'Biden', 'Biden', 'Trump', 'Trump', 'Trump', 'Biden',
       'Trump', 'Biden', 'Trump', 'Biden', 'Biden', 'Biden', 'Biden',
       'Trump', 'Biden', 'Trump', 'Biden', 'Trump', 'Biden', 'Biden',
       'Biden', 'Biden', 'Biden', 'Trump', 'Trump', 'Biden', 'Trump',
       'Biden', 'Biden', 'Trump', 'Trump', 'Trump', 'Biden', 'Biden',
       'Trump', 'Biden', 'Trump', 'Biden'], dtype=object)

In [35]:
y_test

280    Biden
78     Trump
113    Biden
253    Trump
324    Biden
       ...
387    Trump
391    Trump
220    Biden
157    Trump
342    Biden
Name: Election_Result, Length: 144, dtype: object

In [36]:
decision_tree_classifier_results_df = pd.DataFrame(predictions, y_test)

In [37]:
decision_tree_classifier_results_df.reset_index()

    Election_Result      0
0             Biden  Biden
1             Trump  Trump
2             Biden  Biden
3             Trump  Trump
4             Biden  Trump
..              ...    ...
139           Trump  Biden
140           Trump  Trump
141           Biden  Biden
142           Trump  Trump
143           Biden  Biden

[144 rows x 2 columns]

The decision tree classifier was able to predict the congressional district election results with an accuracy of 82%.